﻿@page "/account-search"

@using System.Text.Json
 
@inject AppState AppState

@inject Blazored.LocalStorage.ILocalStorageService localStorage

@inject IJSRuntime jsRuntime

<TabControl @ref="TabControl" @onchange="Change" OnNew="NewAccount">
    <TabPage Text="Search">
        <h1>Account Search</h1>

        <!--<input type="text" class="search-bar mb-4" @bind-value="SearchTerm" @bind-value:event="oninput"/>-->

        <div class="d-flex flex-row justify-content-around">
            <div class="item-2">
                <input type="text" class="search-bar mb-4" @bind="SearchTerm" @oninput="OnChange" />

                @if (FilteredAccountList == null)
                    {
                <p><em>Loading...</em></p>
                    }
                    else
                    {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Account Id</th>
                            <th>Account Name</th>
                            <th>Phone Number</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var account in FilteredAccountList)
                                {
                        <tr class="@(AppState.SelectedSearchAccount == account ? "selected" : "")" @onclick="(() => AccountSelection(account))">
                            <td>@account.AccountId</td>
                            <td>@account.Name</td>
                            <td>@account.PhoneNumber</td>
                            <td>@account.AccountBalance.ToCurrency()</td>
                        </tr>
                                }
                    </tbody>
                </table>
                    }
            </div>


            <div class="item">
                @if (AppState.SelectedSearchAccount != null)
                    {
                <div class="card account-card mx-4">
                    <div class="card-body">
                        <h5 class="card-title">@AppState.SelectedSearchAccount.Name</h5>
                        <p class="card-subtitle mb-2 text-muted">@AppState.SelectedSearchAccount.AccountId</p>
                        <div class="mb-2">
                            <span>Balance</span>
                            <span class="balance mb-2">
                                <span class="card-text">@AppState.SelectedSearchAccount.AccountBalance.ToCurrency()</span>
                            </span>
                        </div>
                        <p class="card-text">@AppState.SelectedSearchAccount.PhoneNumber</p>
                        <button class="btn btn-primary" @onclick="() => PayAccount(AppState.SelectedSearchAccount)">Pay</button>
                        <a class="btn btn-primary" @onclick="() => OpenAccount(AppState.SelectedSearchAccount)">Details</a>
                    </div>
                </div>
                    }
            </div>
        </div>
    </TabPage>
    @foreach (var openedAccount in OpenedAccounts)
        {
    <TabPage TabId="@openedAccount.AccountId" Text="@openedAccount.AccountId" IsClosable="true" OnClosed="(() => CloseOpenedAccount(openedAccount))">
        <NewAccount Account="@openedAccount" Mode="Pages.NewAccount.AccountMode.Edit"></NewAccount>
    </TabPage>
        }
    @foreach (var newAccount in NewAccounts)
        {
    <TabPage TabId="@newAccount.AccountId" Text="@newAccount.DisplayName" IsClosable="true" OnClosed="(() => CloseNewAccount(newAccount))">
        <NewAccount Account="newAccount" Mode="Pages.NewAccount.AccountMode.New" OnNameChanged="NameChanged"></NewAccount>
    </TabPage>
        }
</TabControl>

@code {
   string SearchTerm;

   List<Account> FilteredAccountList;

   List<Account> OpenedAccounts;

   List<Account> NewAccounts;

   Account pendingOpenAccount;

   TabControl TabControl;

   protected override async Task OnInitializedAsync()
   {
       System.Globalization.CultureInfo.CurrentCulture = new System.Globalization.CultureInfo("en-US");

       OpenedAccounts = new List<Account>();

       NewAccounts = new List<Account>();

       if (await localStorage.ContainKeyAsync("searchTerm"))
       {
           var searchTerm = await localStorage.GetItemAsync<string>("searchTerm"); ;

           SearchTerm = searchTerm;

           ReloadResults();
       }

       if (await localStorage.ContainKeyAsync("openedAccounts"))
       {
           var openedAccounts = await localStorage.GetItemAsync<List<Account>>("openedAccounts");

           OpenedAccounts = openedAccounts;
       }

       if (await localStorage.ContainKeyAsync("newAccounts"))
       {
           var newAccounts = await localStorage.GetItemAsync<List<Account>>("newAccounts");

           NewAccounts = newAccounts;
       }
   }

   private void AccountSelection(Account account)
   {
       //Console.WriteLine(e.Detail);

       AppState.SelectedSearchAccount = account;
   }

   private void OnChange(ChangeEventArgs e)
   {
       Console.WriteLine(e.Value);

       SearchTerm = (string)e.Value;

       ReloadResults();
   }

   private void ReloadResults()
   {
       FilteredAccountList = AppState.Accounts?.Where(i => !string.IsNullOrEmpty(SearchTerm) && i.Name.ToLower().Contains(SearchTerm.ToLower())).ToList();

       if(FilteredAccountList.Count == 0)
        {
            AppState.SelectedSearchAccount = null;
        }
       else if (FilteredAccountList.Count == 1)
       {
           AppState.SelectedSearchAccount = FilteredAccountList[0];
       }

       localStorage.SetItemAsync("searchTerm", SearchTerm);
   }

   private void PayAccount(Account account)
   {
       account.AccountBalance += 100;
   }

   private void OpenAccount(Account account)
   {
       if (!OpenedAccounts.Contains(account))
       {
           OpenedAccounts.Add(account);
       }

       pendingOpenAccount = account;

       if(!TabControl.ActivatePage(account.AccountId))
       {
           pendingOpenAccount = account;
       }

       localStorage.SetItemAsync("openedAccounts", JsonSerializer.Serialize(OpenedAccounts));

       //await jsRuntime.InvokeVoidAsync("showAccountTab", account.AccountId);
   }

   private void Change(ChangeEventArgs e)
   {
       Console.WriteLine("change");

       if(pendingOpenAccount != null)
       {
           //Console.WriteLine(TabPages[pendingOpenAccount.AccountId].Text);

           TabControl.ActivatePage(pendingOpenAccount.AccountId);
       }

       pendingOpenAccount = null;
   }

   private void NameChanged(ChangeEventArgs e)
   {
       TabControl.Refresh();
   }

   private void NewAccount(ChangeEventArgs e)
   {
       Console.WriteLine("New");

       var newAccount = new Account { AccountId = Guid.NewGuid().ToString() };

       NewAccounts.Add(newAccount);

       pendingOpenAccount = newAccount;

       localStorage.SetItemAsync("newAccounts", JsonSerializer.Serialize(NewAccounts));
   }

   private void CloseOpenedAccount(Account account)
   {
       Console.WriteLine("remove open");

       OpenedAccounts.Remove(account);

       localStorage.SetItemAsync("openedAccounts", JsonSerializer.Serialize(OpenedAccounts));
   }

   private void CloseNewAccount(Account account)
   {
       Console.WriteLine("remove new");

       NewAccounts.Remove(account);

       localStorage.SetItemAsync("newAccounts", JsonSerializer.Serialize(NewAccounts));
   }
}