﻿@page "/new-account"

@inject AppState AppState;


@if (Account != null)
{
    <h1>
        <span>
            @(Mode == AccountMode.New ? "New" : Account.DisplayName)
        </span>

        @if(Mode == AccountMode.Edit)
        {
            <span class="balance align-middle">
                <span>@Account.AccountBalance.ToCurrency()</span>
            </span>
        }
    </h1>

    <EditForm Model="@Account" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="row mb-2">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-6">
                                <label>Name</label>
                                <input class="form-control" @bind="Account.Name" @oninput="OnNameChange" />
                            </div>

                            <div class="form-group col-6">
                                <label>Phone Number</label>
                                <InputText class="form-control" @bind-Value="Account.PhoneNumber" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
            </div>

            <div class="col">
            </div>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </EditForm>
}

@code {
   public enum AccountMode
   {
       New,
       Edit,
   }

   [Parameter]
   public AccountMode Mode { get; set; }

   [Parameter]
   public Account Account { get; set; }

   string Title { get; set; }

   [Parameter]
   public EventCallback<ChangeEventArgs> OnNameChanged { get; set; }

   protected override void OnInitialized()
   {
       Console.WriteLine($"Initialized {Account?.AccountId}");

       if (Account == null)
       {
           Account = new Account();

           Title = "New Account";
       }
       else
       {
           if (!string.IsNullOrEmpty(Account.Name))
           {
               Title = Account.Name;
           }
           else
           {
               Title = "New Account";
           }
       }
   }

   private void OnNameChange(ChangeEventArgs e)
   {
       Account.Name = (string)e.Value;

       OnNameChanged.InvokeAsync(new ChangeEventArgs());
   }

   private void HandleValidSubmit()
   {
       if (!AppState.Accounts.Contains(Account))
       {
           AppState.AddAccount(Account);
       }
   }
}
