﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Toll Workstation</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" data-toggle="collapse" href="#accountSubMenu">
                <span class="oi oi-person" aria-hidden="true"></span> Acccount
            </NavLink>
            <div class="collapse show" id="accountSubMenu">
                <ul class="nav flex-column ml-4">
                    <li>
                        <NavLink class="nav-link" href="account-search">
                            <span class="oi oi-person" aria-hidden="true"></span> Management
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="new-account">
                            <span class="oi oi-plus" aria-hidden="true"></span> New Account
                        </NavLink>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
