﻿<CascadingValue Value="this">

    <div class="mb-4" role="group">
        @foreach (TabPage tabPage in Pages)
        {
            <div class="btn-group" role="group">
                <button type="button"
                        class="btn @GetButtonClass(tabPage)"
                        @onclick=@( () => ActivatePage(tabPage) )>
                    @tabPage.Text
                </button>
                @if(tabPage.IsClosable)
                {
                    <button type="button" class="btn @GetButtonClass(tabPage) btn-tab-close px-1" @onclick=@(() => tabPage.Close() )>
                        <span class="oi oi-x" aria-hidden="true"></span>
                    </button>
                }
            </div>
        }
        <button type="button" class="btn btn-success ml-2" @onclick=@(() => NewTab() )>New Account</button>
    </div>

    @ChildContent
</CascadingValue>

@code {
   [Parameter]
   public RenderFragment ChildContent { get; set; }

   public TabPage ActivePage { get; set; }

   List<TabPage> Pages = new List<TabPage>();

   [Parameter]
   public EventCallback<ChangeEventArgs> OnChange { get; set; }

   [Parameter]
   public EventCallback<ChangeEventArgs> OnNew { get; set; }

   internal void AddPage(TabPage tabPage)
   {
       Pages.Add(tabPage);

       if (Pages.Count == 1)
       {
           ActivePage = tabPage;
       }

       StateHasChanged();

       OnChange.InvokeAsync(new ChangeEventArgs());
   }

   internal void RemovePage(TabPage tabPage)
   {
       Pages.Remove(tabPage);

       StateHasChanged();
   }

   public string GetButtonClass(TabPage page)
   {
       return page == ActivePage ? "btn-primary tab-selected" : "btn-secondary";
   }

   public void ActivatePage(TabPage page)
   {
       Console.WriteLine("activate page 1");

       ActivePage = page;

       Console.WriteLine("activate page");

       StateHasChanged();
   }

   public bool ActivatePage(string tabId)
   {
       var activePage = Pages.FirstOrDefault(x => x.TabId == tabId);

       if(activePage == null)
       {
           return false;
       }

       ActivePage = activePage;

       return true;
   }

   private void NewTab()
   {
       OnNew.InvokeAsync(new ChangeEventArgs());
   }

   public void Refresh()
   {
       StateHasChanged();
   }
}
