﻿@if (Parent.ActivePage == this)
{
    <!--
    <div>
        <button class="btn btn-danger" @onclick="Close">Close</button>
    </div>
    -->

    @ChildContent
}

@code {
   [CascadingParameter]
   private TabControl Parent { get; set; }

   [Parameter]
   public RenderFragment ChildContent { get; set; }

   [Parameter]
   public EventCallback<ChangeEventArgs> OnClosed { get; set; }

   [Parameter]
   public string TabId { get; set; }

   [Parameter]
   public string Text { get; set; }

   [Parameter]
   public bool IsClosable { get; set; }

   protected override void OnInitialized()
   {
       if (Parent == null)
           throw new ArgumentNullException(nameof(Parent), "TabPage must exist within a TabControl");

       Parent.AddPage(this);

       base.OnInitialized();
   }

   public void Close()
   {
       Parent.RemovePage(this);

       OnClosed.InvokeAsync(new ChangeEventArgs());
   }

   //protected override void OnParametersSet()
   //{
   //   Console.WriteLine($"Tab page paramater set {Text}");

   //   //StateHasChanged();
   //   //Parent.Refresh();

   //   base.OnParametersSet();
   //}
}
